.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.ul-design li a {
  text-decoration: none;
  color: #848484;
}

.ul-design li {
  padding: 5px;
}

.footer-style {
  background-color: #f9f9fb;
}

.icons:hover {
  color: #fbd309;
}
