/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
} */

.ul-design li a {
  text-decoration: none;
  color: #848484;
}

.ul-design li {
  padding: 5px;
}

footer {
  background-color: #333333 !important;
}

#logo {
  color: #fff !important;
  font: bold !important;
  font-family: "Raleway", sans-serif !important;
}
