<div *ngIf="footer.visible" id="footer" class=" parent">
    <footer class="text-center text-lg-start text-black footer-style">
        <div class="container p-4 pb-0">
            <section class="">
                <div class="mt-4 row">
                    <div class="col-lg-8 col-md-6 mb-4 mb-md-0">
                        <h4 id="logo" class="fs-1 fw-bold">
                            <span>Good<span class="fw-bold">Reads</span></span>
                        </h4>
                        <p id="para" class="m-auto  m-lg-0 text-light">
                            ©2023 GoodReads. All Rights Reserved.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                        <h5 class="fs-5 text-light fw-bold">Explore</h5>
                        <ul class="list-unstyled mb-0 ul-design">
                            <div class=" d-inline-block">
                                <li>
                                    <a href="#!" class="text-light">About Us</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-light">Books</a>
                                </li>
                            </div>
                            <div class="d-inline-block">
                                <li>
                                    <a href="#!" class="text-light">Authors</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-light">Library</a>
                                </li>
                            </div>
                        </ul>
                    </div>


                </div>
            </section>
            <hr class="mb-0" />

        </div>
    </footer>
</div>