.nav-item {
    cursor: pointer;
}

.nav-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: auto;
}

.nav-img-link{
    padding: 0px;
}

.active{
    color: darkcyan;
    font: bold;
    text-shadow: 1px 1px darkcyan;
}
