<div class="container">
    <div class="row my-4 m-auto">
        <div class="col-md-6 col-sm-12 card-header m-auto ps-4">
            <img crossorigin="anonymous" src="{{authorsUrl+author.image}}" alt="{{author.firstName + author.lastName}}"
                class="img-fluid author-img p-2">
        </div>
        <div class="col-md-6 col-sm-12 card-block m-auto px-2">
            <h2 class="author-title fs-1 mb-3">{{author.firstName}} {{author.lastName}}</h2>
            <h3 class="author-detail fst-italic">{{author.dob | date}}</h3>
        </div>
    </div>
</div>


<div class="container">
    <h2 class="mb-5 mt-5 ps-5 fs-2">Author's Books</h2>
    <div *ngFor="let lib of userLib" class="card shadow m-3 p-3">

        <div class="row">

            <div class="col-2 card-header border-0 shadow m-3">
                <img crossorigin="anonymous" src={{booksUrl+lib.book?.image}} alt="{{lib.book?.name}}" class="img-fluid book-image" [routerLink]="['/book-details', lib.book?._id]">
            </div>

            <div class="col-6">
                <h4 class="card-title fs-4 book-name" [routerLink]="['/book-details', lib.book?._id]">{{lib.book?.name}}</h4>
                <p class="card-text fst-italic">{{lib.book?.totalRatings}} ratings</p>
                <p class="card-text fst-italic">{{lib.book?.avgRating}}</p>
                <app-rating [libItem]="lib" type='avg' [rating]="lib.book?.avgRating"></app-rating>
            </div>

            <div class="col-2">
                <app-rating [libItem]="lib" type='norm' (ratingUpdated)="setRatingValue(lib,$event)"
                    [rating]="lib.rating"></app-rating>

                <select #shelfSelected [id]="'shelf-select'" class="form-select" aria-label="Default select example"
                    (change)="setShelfValue(lib, shelfSelected.value)">
                    <option [selected]="lib.shelve === 'READING' " [value]="'READING'">
                        Reading
                    </option>
                    <option [selected]="lib.shelve === 'READ'" [value]="'READ'">
                        Read
                    </option>
                    <option [selected]="lib.shelve === 'WANT_TO_READ' " [value]="'WANT_TO_READ'">
                        Want To Read</option>
                </select>

            </div>

        </div>

    </div>
</div>