<!-- <div class="header">
    <div class="container">
        <ul class="nav">
            <li>About</li>
            <li>Work</li>
            <li>Team</li>
            <li>Contact</li>
        </ul>
    </div>
</div> -->
<app-spinner [isLoading]="isLoading"></app-spinner>

<div class="jumbotron">
    <div class="container">
        <div class="main">
            <h1>Welcome To Good<span class="fw-bolder
">Reads</span></h1>
            <a routerLink="/register" class="btn-main">Join Us</a>
        </div>
    </div>
</div>

<div class="supporting">
    <div class="container">
        <div class="col">
            <i class="icon bi bi-book"></i>
            <h2>Popular Books</h2>
            <!-- <p>Make your projects look great and interact beautifully.</p> -->
            <a routerLink="showBooks" class="btn-default">All Books</a>

        </div>
        <div class="col">
            <!-- <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg"> -->
            <i class="icon bi bi-pen-fill"></i>
            <h2>Popular Authors</h2>
            <!-- <p>Use modern tools to turn your design into a web site</p> -->
            <a routerLink="showAuthor" class="btn-default">All Authors</a>

        </div>
        <div class="col">
            <!-- <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/deploy.svg"> -->
            <i class="icon bi bi-bookmark-star"></i>
            <h2>Popular Categories</h2>
            <!-- <p>Use modern tools to turn your design into a web site</p> -->
            <a routerLink="showCategoury" class="btn-default">All Categories</a>

        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!-- <div class="footer">
    <div class="container">
        <p>&copy; Broadway 2015</p>
    </div>
</div> -->