.carousel {
    /* background: linear-gradient(rgba(147, 127, 129, .5), rgba(147, 127, 129, .8)), url(https://images.pexels.com/photos/904616/pexels-photo-904616.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}