<app-spinner [isLoading]="isLoading"></app-spinner>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2>Categories</h2>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-success" mat-button (click)="addCategory()">
      Add Category
    </button>
    <div *ngIf="showAddForm || showEditForm" class="row">
      <div class="col-12">
        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control" pattern="^[\w\d_]+( [\w\d_]+)?$" required />
            <div *ngIf="
                categoryForm.get('name')!.hasError('required') &&
                (categoryForm.get('name')!.dirty ||
                  categoryForm.get('name')!.touched)
              " class="invalid-feedback">
              Name is required
            </div>
            <div *ngIf="
                categoryForm.get('name')!.hasError('pattern') &&
                (categoryForm.get('name')!.dirty ||
                  categoryForm.get('name')!.touched)
              " class="invalid-feedback">
              Name is required
            </div>
            <div *ngIf="
                categoryForm.get('name')!.hasError('required') &&
                (categoryForm.get('name')!.dirty ||
                  categoryForm.get('name')!.touched)
              " class="invalid-feedback">
              Name is required
            </div>
            <div *ngIf="
                categoryForm.get('name')!.hasError('minlength') &&
                (categoryForm.get('name')!.dirty ||
                  categoryForm.get('name')!.touched)
              " class="invalid-feedback">
              Name must be at least 3 characters long
            </div>
            <div *ngIf="
                categoryForm.get('name')!.hasError('maxlength') &&
                (categoryForm.get('name')!.dirty ||
                  categoryForm.get('name')!.touched)
              " class="invalid-feedback">
              Name cannot be longer than 15 characters
            </div>
          </div>
          <button class="btn btn-success" mat-button type="submit" [disabled]="categoryForm.invalid">
            Save
          </button>
          <button class="btn btn-danger m-2" mat-button type="button" (click)="cancel()">
            Cancel
          </button>
        </form>
      </div>
    </div>
    <div class="col-12">
      <table mat-table [dataSource]="categories" class="mat-elevation-z8">
        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let category">
            {{ generateCategoryId(category) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let category">{{ category.name }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let category">
            <button class="btn btn-info m-2" mat-button (click)="editCategory(category)">
              Edit
            </button>
            <button class="btn btn-danger m-2" mat-button (click)="deleteCategory(category)">
              Delete
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['_id', 'name', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['_id', 'name', 'actions']"></tr>
      </table>
    </div>
  </div>
</div>