<app-spinner [isLoading]="isLoading"></app-spinner>

<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col">Cover</th>
                <th scope="col">Name</th>
                <th scope="col">Author</th>
                <th scope="col">Rating</th>
                <th scope="col">AvgRate</th>
                <th scope="col">Shelve</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let libItem of myLib;index as i">
                <td>
                    <div class=" align-items-center">
                        <a routerLink="/book-details/{{libItem.book?._id}}" class="avatar rounded-circle ">
                            <img crossorigin="anonymous" alt="Book Cover" [src]="getBookImage(libItem)">
                        </a>
                    </div>
                </td>
                <td>
                    <div>
                        <span class="mb-0 text-sm fw-bold">{{libItem.book?.name}} </span>
                    </div>
                </td>
                <td>
                    {{libItem.book?.author?.firstName}}
                    {{libItem.book?.author?.lastName}}
                </td>
                <td style="padding-left: 0px;">
                    <app-rating [libItem]="libItem" type='norm' (ratingUpdated)="setRatingValue(libItem,$event)"
                        [rating]="libItem.rating"></app-rating>
                </td>
                <td style="padding-left: 0px;">
                    <app-rating [libItem]="libItem" type='avg' [rating]="libItem.book?.avgRating"></app-rating>
                </td>
                <td>

                    <select #shelfSelected [id]="'shelf-select'+i" class="form-select"
                        aria-label="Default select example" (change)="setShelfValue(libItem, shelfSelected.value)">
                        <option [selected]="libItem.shelve === 'READING' " [value]="'READING'">
                            Reading
                        </option>
                        <option [selected]="libItem.shelve === 'READ'" [value]="'READ'">
                            Read
                        </option>
                        <option [selected]="libItem.shelve === 'WANT_TO_READ' " [value]="'WANT_TO_READ'">
                            Want To Read</option>
                    </select>

                </td>
            </tr>

        </tbody>
    </table>
</div>