
<div class="container">
  <h2>Authors</h2>
  <button  routerLink="/admin/add-author" (click)="openAddAuthorModal()">Add Author</button>
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of authors | paginate: { itemsPerPage: 10, currentPage: currentPage }">
        <td><img crossorigin="anonymous" [src]="url+author.image" width="50" height="50" alt="Author Image"></td>
        <td>{{ author.firstName }}</td>
        <td>{{ author.lastName }}</td>
        <td>{{ author.dob | date }}</td>
        <td>
          <!-- <button [routerLink]="'/admin/edit-author/' + author._id">Edit</button> -->
          <button (click)="onEditClick(author._id!)">Editt</button>
          <button (click)="deleteAuthor(author._id!)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>

</div>
