<app-spinner [isLoading]="isLoading"></app-spinner>

<div class="container mb-3">

  <div class="pt-5 row">
    <h1 id="title">All Authors</h1>

    <div id="searchBar" class=" d-flex flex-row align-items-center shadow-sm rounded-4 pt-2 mt-2 mb-5">

      <input type="text" [(ngModel)]="searchTerm" class="form-control search-input" placeholder="Search by Authors">
      <button class="button fw-bold text-light m-3 btn " (click)="clearSearchTerm()">Clear</button>

    </div>
    <div class="row p-5 bg-light rounded-4 shadow-sm">
      <div class="col-md-4"
        *ngFor="let author of authors |filter:searchTerm | paginate: { itemsPerPage: 10, currentPage: currentPage }">
        <div class="card mb-4 shadow-sm">
          <img crossorigin="anonymous" class="card-img-top" src="{{url+author.image }}"
            alt="{{ author.firstName }} {{ author.lastName }}" [routerLink]="['/author-details', author._id]">
          <div class="card-body">
            <h5 class="card-title">{{ author.firstName }} {{ author.lastName }}</h5>
            <p class="card-text">{{ author.dob | date }}</p>
          </div>
        </div>
      </div>

      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>

</div>