



<div class="author-modal" id="editAuthorModal">
  <div class="author-modal-dialog">
    <div class="author-modal-content">
      <div class="author-modal-header">
        <h1 class="author-modal-title">Edit Author</h1>

      </div>
      <form [formGroup]="authorFormEdit!" (ngSubmit)="onupdate()" class="p-3 border rounded">
        <div class="author-modal-body">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="Author.firstName"      formControlName="firstName" required>
            <div *ngIf="authorFormEdit && authorFormEdit.get('firstName') && authorFormEdit.get('firstName')?.invalid && (authorFormEdit.get('firstName')?.dirty || authorFormEdit.get('firstName')?.touched)" class="alert alert-danger">
              <div *ngIf="authorFormEdit && authorFormEdit.get('firstName')?.errors?.['required']">First name is required.</div>
              <div *ngIf=" authorFormEdit &&  authorFormEdit.get('firstName')?.errors?.['minlength']">First name must be at least {{ authorFormEdit.get('firstName')?.errors?.['minlength'].requiredLength }} characters long.</div>
              <div *ngIf=" authorFormEdit && authorFormEdit.get('firstName')?.errors?.['maxlength']">First name cannot be longer than {{ authorFormEdit.get('firstName')?.errors?.['maxlength'].requiredLength }} characters.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName"  name="Author.lastName"  name="lastName" formControlName="lastName" required>
            <div *ngIf="authorFormEdit && authorFormEdit.get('lastName') && authorFormEdit.get('lastName')?.invalid && (authorFormEdit.get('lastName')?.dirty || authorFormEdit.get('lastName')?.touched)" class="alert alert-danger">
              <div *ngIf="authorFormEdit && authorFormEdit.get('lastName')?.errors?.['required']">lastName  is required.</div>
              <div *ngIf=" authorFormEdit &&  authorFormEdit.get('lastName')?.errors?.['minlength']">lastName must be at least {{ authorFormEdit.get('lastName')?.errors?.['minlength'].requiredLength }} characters long.</div>
              <div *ngIf=" authorFormEdit && authorFormEdit.get('lastName')?.errors?.['maxlength']">lastName  cannot be longer than {{ authorFormEdit.get('lastName')?.errors?.['maxlength'].requiredLength }} characters.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" id="dob"  name="Author.dob"  value="{{Author.dob | date:'yyyy-MM-dd'}}" name="dob" formControlName="dob" required>
            <div *ngIf="authorFormEdit && authorFormEdit.get('dob')?.invalid && (authorFormEdit.get('dob')?.dirty || authorFormEdit.get('dob')?.touched)" class="alert alert-danger">
              <div *ngIf="authorFormEdit &&  authorFormEdit.get('dob')?.errors?.['required']">Date of birth is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label>Image upload :</label>
            <div class="input-group col-xs-12">
              <input formControlName="image" type="file" name="image" name="Author.image"  id="image" class="form-control" (change)="onFileSelected($event)">
            </div>
          </div>
          <div *ngIf="Author.image">
            <label>Current Image:</label>
            <img  crossorigin="anonymous" [src]="url+Author.image" width="100">
          </div>
        </div>
        
        <div class="author-modal-footer">

          <button type="submit" class="btn btn-primary mt-3" >Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
