:root {
  --blue: #5e72e4;
  --indigo: #5603ad;
  --purple: #8965e0;
  --pink: #f3a4b5;
  --red: #f5365c;
  --orange: #fb6340;
  --yellow: #ffd600;
  --green: #2dce89;
  --teal: #11cdef;
  --cyan: #2bffc6;
  --white: #fff;
  --gray: #8898aa;
  --gray-dark: #32325d;
  --light: #ced4da;
  --lighter: #e9ecef;
  --primary: #5e72e4;
  --secondary: #f7fafc;
  --success: #2dce89;
  --info: #11cdef;
  --warning: #fb6340;
  --danger: #f5365c;
  --light: #adb5bd;
  --dark: #212529;
  --default: #172b4d;
  --white: #fff;
  --neutral: #fff;
  --darker: black;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: Open Sans, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@viewport {
  width: device-width;
}

img {
  vertical-align: middle;
  border-style: none;
}
/*  */
.align-items-center {
  align-items: center !important;
}
.text-sm {
  font-size: 0.875rem !important;
}
#shelf-select {
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  position: relative;
  left: 2rem;
}
/* 
 */
tr,
img {
  page-break-inside: avoid;
}

tr:first-child td,
tr:first-child th {
  border-top: 0;
}

tr:last-child td,
tr:last-child th {
  border-bottom: 0;
}

th {
  text-align: inherit;
  font-weight: 600;
}

td .progress {
  width: 120px;
  height: 3px;
  margin: 0;
}

td,
th {
  background-color: #fff !important;
  text-align: center;
  padding: 1rem;
  vertical-align: middle;
  border-top: 1px solid #e9ecef;

  font-size: 0.8125rem;
  white-space: nowrap;
}
/*  */
a {
  text-decoration: none;
  color: #5e72e4;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
  color: #233dd2;
}

a:not([href]):not([tabindex]) {
  text-decoration: none;
  color: inherit;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  text-decoration: none;
  color: inherit;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}
a.btn.disabled {
  pointer-events: none;
}
a.bg-success:hover,
a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #24a46d !important;
}
a.bg-info:hover,
a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #0da5c0 !important;
}

a.bg-warning:hover,
a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #fa3a0e !important;
}
a.bg-danger:hover,
a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #ec0c38 !important;
}

a.bg-default:hover,
a.bg-default:focus,
button.bg-default:hover,
button.bg-default:focus {
  background-color: #0b1526 !important;
}
a.text-light:hover,
a.text-light:focus {
  color: #919ca6 !important;
}

a.text-white:hover,
a.text-white:focus {
  color: #e6e6e6 !important;
}
.badge a {
  color: #fff;
}

a.btn-icon-only {
  line-height: 2.5;
}
