<app-spinner [isLoading]="isLoading"></app-spinner>

<div class="container mb-3">

  <div class="pt-5 row">
    <h1 id="title">All Categories</h1>

    <div id="searchBar" class=" d-flex flex-row align-items-center shadow-sm rounded-4 pt-2 mt-2 mb-5">

      <input type="text" [(ngModel)]="searchTerm" class="form-control search-input" placeholder="Search by Category">
      <button class="button fw-bold text-light m-3 btn " (click)=" clearSearchTerm()">Clear</button>

    </div>


  </div>
  <hr>
  <div class="row  p-5 bg-light rounded-4 shadow-sm">
    <div class="col-md-12">
      <div class="card-deck">
        <div class="card" *ngFor="let category of categories |filter:searchTerm">
          <div class="card-body">
            <h1 class="card-title">{{category.name}}</h1>
            <a routerLink="/category/{{category._id}}" class="card-link btn-info btn">View Category</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>