<h2 mat-dialog-title>{{ data._id ? 'Edit' : 'Add' }} Author</h2>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="firstName.invalid">{{ getFirstNameErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="lastName.invalid">{{ getLastNameErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="dobPicker" formControlName="dob">
      <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
      <mat-datepicker #dobPicker></mat-datepicker>
      <mat-error *ngIf="dob.invalid">{{ getDobErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Image</mat-label>
      <input matInput formControlName="image">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="onSaveClick()" [disabled]="form.invalid">Save</button>
</div>
