<div class="container">
    <div class="card flex-row flex-wrap">
        <div class="card-header border-0">
            <img crossorigin="anonymous" src={{bookImage}} alt="">
        </div>
        <div class="card-block px-2">
            <h4 class="card-title">{{book.name}}</h4>
            <p class="card-text">By {{book.author.firstName}} {{book.author.lastName}}</p>
            <p class="card-text">{{book.category.name}}</p>
            <p class="card-text">{{book.avgRating}}</p>
            <p class="card-text">{{book.totalRatings}} ratings</p>

            <!-- <app-rating [bookId]?="book._id" [rating]?="book.rating" [shelf]?="book.shelve" -->
                <!-- (updateRating)="updateRating(book.rating,book._id,book.shelve)"></app-rating> -->
        </div>

        <form [formGroup]='myForm'>

            <select formControlName="shelfSelect" id="shelf-select" class="form-select"
                aria-label="Default select example">
                <option value="NOT SET" selected>Shelf</option>
                <option value="READING">Reading</option>
                <option value="READ">Read</option>
                <option value="WANT_TO_READ">Want To Read</option>
            </select>
        </form>

        <i [attr.data-star]="book.avgRating || 0"></i>

        <div class="reviews">
            <h4>Reviews</h4>
            <div class="review" *ngFor="let review of book.reviews">
                <p>{{review}}</p>
            </div>
        </div>

    </div>
    <br>
</div>