<div class="container">
    <div class="card flex-row flex-wrap">
        <div class="card-header border-0">
            <img crossorigin="anonymous" src={{bookImage}} alt="">
        </div>
        <div class="card-block px-2">
            <h4 class="card-title">{{book.name}}</h4>
            <p class="card-text">By {{book.author}}</p>
            <p class="card-text">{{book.category}}</p>
            <p class="card-text">{{book.avgRating}}</p>
            <!-- <p class="card-text">{{book.totalRatings}} ratings</p> -->

        </div>
    </div>
    <br>
</div>