/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  background: rgb(248, 246, 234);

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
