/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  background: rgb(248, 246, 234);

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snackbar {
  --mdc-snackbar-container-color: var(--success);
}

.error-snackbar {
  --mdc-snackbar-container-color: var(--danger);
}

.warning-snackbar {
  --mdc-snackbar-container-color: var(--warning);
}

.info-snackbar {
  --mdc-snackbar-container-color: var(--info);
}
